<% layout('layouts/boilerplate.ejs')%>

<% if(payload.errorMessage){%>
<span id="errorMessage"><%=payload.errorMessage%></span>
<%}
else{%>
<script>
    var chatId='<%=payload.chat._id%>';
</script>

<div class="chatPageContainer">

    <div class="chatTitleBarContainer">

        <%- include('mixins/createChatImage.ejs')%>
        <span id="chatName" data-toggle="modal" data-target="#chatNameModal">This is the chat</span>
    </div>
    <div class="mainContentContainer">

        <div class="loadingSpinnerContainer">
            <img src="https://res.cloudinary.com/devcacmp/image/upload/v1624801291/loadingSpinner_lejth0.gif" alt="Loading spinner">
        </div>
        <div class="chatContainer" style="visibility: hidden;" data-room="<%=payload.chat._id%>">

            <ul class="chatMessages"></ul>
            <div class="typingDots">
                <img src="https://res.cloudinary.com/devcacmp/image/upload/v1624820062/dots_p8ac5x.gif" alt="Typing dots" >
            </div>

            <div class="footer">

                <textarea class="inputTextbox" name="messageInput" placeholder="Type a message..""></textarea>

                <button class="sendMessageButton">
                    <i class="fas fa-paper-plane"></i>
                </button>

            </div>
        </div>
    </div>
</div>
<%- include('mixins/createChatNameModal.ejs')%>


<%} %>


<%- include('scripts/chatPage_script.ejs')%>