<% layout('layouts/boilerplate.ejs')%>
<%- include('mixins/mixins.ejs')%><!--mixin also have acces to payload;-->
<div class="postsContainer">

</div>
<%- include('mixins/createDeletePostModal.ejs')%>
<%- include('mixins/createReplyModal.ejs')%>
<%- include('mixins/createPinnedPostModal.ejs')%>
<%- include('mixins/createEditPostModal.ejs')%>
<%- include('mixins/createUnpinPostModal.ejs')%>

<%- include('scripts/home_script.ejs')%>