<% layout('layouts/boilerplate.ejs')%>
<script>
     var postId='<%=payload.postId%>';
</script>
<div class="postsContainer">

</div>
<%- include('mixins/createDeletePostModal.ejs')%>
<%- include('mixins/createReplyModal.ejs')%>
<%- include('mixins/createPinnedPostModal.ejs')%>
<%- include('mixins/createEditPostModal.ejs')%>
<%- include('scripts/postPage_script.ejs')%>