<% layout('layouts/boilerplate.ejs')%>
<script>
     var postId='<%=payload.postId%>';
</script>

<div class="loadingSpinnerContainer">
     <img src="https://res.cloudinary.com/devcacmp/image/upload/v1624801291/loadingSpinner_lejth0.gif" alt="Loading spinner">
 </div>

<div class="postsContainer">

</div>

<%- include('mixins/createDeletePostModal.ejs')%>
<%- include('mixins/createReplyModal.ejs')%>
<%- include('mixins/createPinnedPostModal.ejs')%>
<%- include('mixins/createEditPostModal.ejs')%>
<%- include('mixins/createUnpinPostModal.ejs')%>

<%- include('scripts/postPage_script.ejs')%>