<% layout('layouts/boilerplate.ejs')%>

<% if(!payload.profileUser){ %>
    <span class="errorMessage">Check the url you are trying to access </span>
<% }
 else{ %>
    <script>
         var profileUser= <%- JSON.stringify(payload.profileUser) %>//correct
         var profileUserId="<%=payload.profileUser._id%>";
         var selectedTab="<%=payload.selectedTab%>";
    </script>
    <%
    var followersCount=payload.profileUser.followers.length;
    var followingCount=payload.profileUser.following.length;

    %>
    <div class="profileHeaderContainer">
        <div class="coverPhotoSection">

            <div class="coverPhotoContainer">
                <% if(payload.profileUser.coverPhoto) {%>
                <img src="<%=payload.profileUser.coverPhoto%>" alt="coverPhoto" srcset="">
                <%}%>

                <% if(payload.profileUser._id == payload.userLoggedIn._id) {%>
                    <button class="coverPhotoButton" data-toggle="modal" data-target="#coverPhotoUploadModal">
                        <i class="fas fa-camera"></i>
                    </button>
                    <%}%>
            </div>
           
            <div class="userImageContainer">
                <img src="<%=payload.profileUser.profilePic%>" alt="User Profile Image" >

                <% if(payload.profileUser._id == payload.userLoggedIn._id) {%>
                    <button class="profilePictureButton" data-toggle="modal" data-target="#imageUploadModal">
                        <i class="fas fa-camera"></i>
                    </button>
                    <%}%>

            </div>

          
        </div>
        <div class="profileButtonsContainer">
            <% if(payload.profileUser._id !=payload.userLoggedIn._id){ %>
                <a href="/messages/<%=payload.profileUser._id%>" class="profileButton">
                <i class="fas fa-envelope"></i>
                </a>
             <% 
             var createFollow={
                 isFollowing:(payload.userLoggedIn.following.includes(payload.profileUser._id.toString())),
             }
             %>
             
            <%- include('mixins/createFollowButton.ejs',{createFollow})%>
                
           <% } %>
        </div>
        <div class="userDetailsContainer">
            <span class="displayName"><%=payload.profileUser.firstName%> <%=payload.profileUser.lastName%> </span>
            <span class="username">@<%=payload.profileUser.username%> </span>
            <span class="description"><%=payload.profileUser.description%></span>

            <div class="followersContainer">
                <a href="/profile/<%=payload.profileUser.username%>/following">
                <span class="value"><%=followingCount%></span>
                <span>Following</span>
                </a>
                <a href="/profile/<%=payload.profileUser.username%>/followers">
                    <span class="value" id="followersValue"><%=followersCount%></span>
                    <span>Followers</span>
                    </a>
            </div>
        </div>

    </div>

    <div class="tabsContainer">
        <%
         var Tab1={
            name:"Posts",
            href:`/profile/${payload.profileUser.username}`,
            isSelected:(payload.selectedTab!="replies")
        }
        
        %>
        <%- include('mixins/createTab.ejs',{Tab1})%>

        <% Tab1.name="Replies";Tab1.href=`/profile/${payload.profileUser.username}/replies`;
        Tab1.isSelected=(payload.selectedTab=="replies");
        %>

        <%- include('mixins/createTab.ejs',{Tab1})%>

    </div>

    <div class="pinnedPostContainer">
     
    </div>

    <div class="postsContainer">

    </div>


<%- include('mixins/createDeletePostModal.ejs')%>
<%- include('mixins/createReplyModal.ejs')%>
<%- include('mixins/createImageUploadModal.ejs')%>
<%- include('mixins/createCoverPhotoUploadModal.ejs')%>
<%- include('mixins/createPinnedPostModal.ejs')%>
<%- include('mixins/createEditPostModal.ejs')%>
<%- include('mixins/createUnpinPostModal.ejs')%>
<% } %>

<%- include('scripts/profile_script.ejs')%>
